language: cpp

compiler:
  - clang

install:
  sudo apt-get install --force-yes --yes libboost1.55-all-dev

script:
  mkdir debug &&
  cd debug &&
  cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=clang++ .. &&
  make check

